apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.storeName }}-medusa
  labels:
    {{- include "medusa.labels" . | nindent 4 }}
    app.kubernetes.io/component: medusa
spec:
  type: ClusterIP
  ports:
    - port: 9000
      targetPort: http
      name: http
  selector:
    {{- include "medusa.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: medusa
